<div (click)="openFilmCard()" class="film">
  <img [src]="film().posterUrl" alt="film poster" />
  <div class="film__information">
    <p class="film__title">{{ film().title }}</p>
    <div class="film__meta">
      <p class="film__genre">{{ film().genre }}</p>
      <p class="film__year">{{ film().year }}</p>
    </div>
    <div class="film__meta">
      <p class="film__rating">{{ film().rating }}</p>
      <app-button class="favorite" (click)="addToFavorite()" [ngClass]="film().isFavorite ? 'favorite__selected' : ''"></app-button>
    </div>
  </div>
</div>
