@use '../../../shared/style/abstract/constants' as *;
@use '../../../shared/style/abstract/placeholders' as *;

:host {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 2px $color-shadow-header;
}

.header{
  &__navigation > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    gap: 1.5rem;

    & > li {
      cursor: pointer;
      color: $color-link-non-visited;
      @extend %transition;

      &:hover {
        color: $color-link-hover;
      }
    }
  }
}
