$color-link-non-visited: rgb(102, 104, 103);
$color-link-hover: rgb(55, 56, 56);
$color-shadow: rgb(166, 166, 166);
$color-button-not-found: rgb(233, 246, 241);
$color-button-not-found-hover: rgb(211, 238, 228);
$color-text-background: rgb(228, 227, 227);


$content-width: 1440px;
